.custom-button {
  background: #ff0000;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.custom-button:hover {
  background: #ffaaaa;
}

.custom-button:active {
  background: #ff0000;
}

.custom-button:disabled {
  background: #aaaaaa;
}
